$font-fam : "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$not-visited-font-color : #c7c7c7;
$visited-font-color : silver;
$normal-font-color: white;
$svg-size: 18px;